@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.aboutMain {
    display: flex;
    width: 75vw;
    margin: auto;
    justify-content: space-around;
    opacity: 0;
}

.aboutImg {
    height: 11vw;
    border-radius: 1rem;
}

.aboutTextContain {
    justify-content: center;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    width: 40%;
    margin: 0 1rem;
}

.aboutTextContain .aboutP {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.aboutMainHeader {
    font-size: 2.2vw;
    margin-bottom: 2rem;
}





/* Card Container CSS CODE */
.cardsContainer{
    height: 60vh;
    margin: 4rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 10;
    opacity: 0;
}
.card{
    height: 70%;
    width: 25%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
.card1{
    background-image: url(https://plus.unsplash.com/premium_photo-1674059549794-20e75cb6dc45?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDV8fGd5bXxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
.card2{
    background-image: url(https://images.unsplash.com/photo-1594381898411-846e7d193883?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGd5bXxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}
.card3{
    background-image: url(https://images.unsplash.com/photo-1518611012118-696072aa579a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fGd5bXxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}


.overlay {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding: 30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay:hover{
    opacity: 1;
}
.overlay h4 {
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
}
.overlay p {
    color: #000;
    font-size: 18px;
}

/* Green DIV CSS CODE */

#green-div {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    background: linear-gradient(to left bottom, #119f3a, #ace022);
}
#green-div img {
    height: 100%;
    object-fit: cover;
    width: 14%;
}
#green-div h4 {
    width: 45%;
    line-height: 3rem;
    color: #000;
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: uppercase;
}



/* QOUTE CSS CODE */

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#page3 > p {
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

#page3 #colon1 {
    left: 15%;
    top: 25%;
}
#page3 img {
    position: absolute;
    height: 60px;
}
#page3 #colon2 {
    bottom: 30%;
    right: 15%;
}
#page3 img {
    position: absolute;
    height: 60px;
}


/* Media Quires */

/* Responsive changes for screens below 1200px */
@media (max-width: 1200px) {
    .aboutMain {
        width: 100vw;
        justify-content: space-evenly;
    }

    .aboutTextContain {
        margin: 0 0rem;
    }

    .aboutImg {
        height: 16vw;
    }
}

@media (max-width: 800px) {
    .aboutMain {
        flex-direction: column;
        align-items: center;
    }
    .aboutImg {
        height: 40vw;
        width: 80vw;    
    }
    .aboutTextContain {
        margin-top: 5rem;
        margin-bottom: 19rem;
        width: 85%;
    }
    .aboutMainHeader {
        font-size: 7.2vw;
        /* margin-bottom: 2rem; */
    }
    .aboutTextContain .aboutP {
        font-size: 3vw;
    }
}
@media (max-width:700px) {

    .page2 {
        width: 100vw;
    }

    .aboutImg {
        height: 55vw;
        width: 86vw;
    }
    .aboutMainHeader {
        font-size: 12.2vw;
    }
    .aboutTextContain .aboutP {
        font-size: 5vw;
    }
    .cardsContainer {
        margin: 7rem 1rem 1rem 1rem;
        flex-direction: column;
    }
    #page3 > p {
        font-size: 4vw;
    }
    #page3 img {
        height: 8vw;
    }
    .card {
        height: 72%;
        width: 78vw;
        margin: 1rem 0rem;
    }
    .cardsContainer {
        height: 70vh;
    }
    .overlay {
        padding-top: 1rem;
    }
    #green-div h4 {
        font-size: 1.1rem;
    }
}